<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuanLyKhachSanDB"
         connectionString="Data Source=BEHIHI\MSSQLSERVER01;Initial Catalog=QuanLyKhachSan;User ID=sa;Password=123;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
