<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QuanLyThuVienDb"
         connectionString="Data Source=BEHIHI\MSSQLSERVER01;Initial Catalog=QuanLyThuVienDB;User ID=sa;Password=MAT_KHAU_CUA_BAN;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
